@model List<Article>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makale Listesi</title>
    <link href="c:\users\akyur\source\repos\sensiveproject\sensiveproject.prensentationlayer\wwwroot\css\article.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Kategoriler</h2>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profilim</a></li>
                <li><a href="#">Yazılarım</a></li>
                <li><a href="#">Yorumlarım</a></li>
                <li><a href="#">Siteye git</a></li>
                <li><a href="#">Çıkış yap</a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="content">
            <h1>Kullanıcı Makaleleri</h1>
            <div class="article-list">
                @foreach (var item in Model)
                {
                    <div class="article">
                        <h3>@item.Title</h3>
                        <p><strong>Tarih:</strong> @item.CreatedTime.ToString("dd-MMM-yyyy")</p>
                        <p > <a href="#" class="btn btn-primary"> yazıyı düzenle</a></p>
                    </div>
                    
                }        
               
                
            </div>
        </main>
    </div>
</body>
</html>
