
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    @await Component.InvokeAsync("_ArticleDetailHeadComponentPartial")
<body>

    <div class="container">
        @await Component.InvokeAsync("_ArticleDetailListComponentPartial", new { id = ViewBag.i })


        @await Component.InvokeAsync("_ArticleDetailCommentListComponentPartial",
                 new { id = ViewBag.i })



        @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml",new {ViewBag.i})
       

       
    </div>

</body>
</html>