@model List<Comment>


<!-- Yorumlar -->
<div class="comments">
    <h2>Yorumlar</h2>

    @foreach (var item in Model)
    {
        <div class="comment">
            <p class="comment-author">@item.AppUser.Name @item.AppUser.Surname</p>
            <p>@item.Detail</p>
            <span>@item.CreatedTime.ToString("dd-MMM-yyyy")</span>
        </div>
        
    }
    
    
</div>