
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_ArticleListHeadComponentPartial")
<body>
    <div class="main-container">
        <!-- Blog Listesi -->
        @await Component.InvokeAsync("_ArticleListComponentPartial")
        
            

        <!-- Kategori Listesi -->
        @await Component.InvokeAsync("_CategoryListComponentPartial")
       
        
    </div>
</body>
</html>