@model Category
@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <form method="post">
        <br /><br />
        <input type="hidden" asp-for="CategoryId"/>
        
        <label>kategori adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-info">kategoriyi ekle</button>

    </form>
</div>

