@model List<Article>
<div class="blog-list">
    <h2>Blog Listesiii</h2>
    @foreach (var item in Model)
    {
        <div class="blog-item">
            <img src="@item.CoveImageUrl" alt="Blog 1 Kapak">
            <a href="https://example.com/blog1" target="_blank">@item.Title</a>
            <p>@item.Description.Substring(0,75)...<a href=" "class="btn btn-primary"> Devamını oku </a> </p>
        </div>

    }
</div>

