@model Comment

<form method="post" asp-action="AddComment" asp-controller="Comment">

    <div class="new-comment">
        <!-- Yeni Yorum Yapma -->

        <h2>Yeni Yorum Yap</h2>
        <input type="text" asp-for="ArticleId" readonly />
        <textarea placeholder="Yorumunuzu buraya yazın..."></textarea>
        <button class="btn">Gönder</button>



    </div>



</form>